$text-color-primary: #02182B;
$text-color-secondary: #2191FB;

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: $text-color-primary;
  }

// News Page
  .newsItems {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  .newsItem {
      display: flex;
      flex-direction: column;
      flex: 1;

      width: 25vw;

      h1 {
        font-size: 16pt;
      }

      margin: 0;
      a {
          text-decoration: none;
          color: $text-color-primary;
      }
      box-sizing: border-box;
      margin: .75rem;
      padding: 2%;
      // background-color: #EEEEEE;
      
  }

  #image-container {
    height: 10vw;
    width: 22vw;
    margin: 0;
  }
  
  #image-container img {
    display: block;
    width: 100%;
    height: auto;
  
    margin: 3vh 0;
  }

// Navbar

.navbar {
  padding-top: 3vh;
  background-color: white;
}

#navbar-title {
  font-weight: bolder;
  color: $text-color-secondary;
}

.nav {
  li {
    display: inline;
  }

  a {
    font-size: 20px;
    font-weight: bold;
    color: $text-color-primary;
    list-style-type: none;
    text-decoration: none;
    display: block;
    padding: 10px;

    &:hover {
      color: $text-color-secondary;
    }
  }

  #searchbar {
    padding-left: 5px;
  }
}

// Footer
footer {
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 1vh;
}

// Metric selector
.selector {
  height: 20px;
  margin-bottom: 60px;
}

.titleItem {
  font-weight: bold;
  padding-top: 1rem;
  position: relative;
  left: 1vw;
  font-size: 50px;
}
