.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .newsItems {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  .newsItem {
      display: flex;
      flex-direction: column;
      flex: 1;

      width: 25vw;
      h1 {
        font-size: 16pt;
      }
      margin: 0;
      a {
          text-decoration: none;
          color: #282c34;
      }
      box-sizing: border-box;
      border: 1px solid #282c34;
      border-radius: 5px;
      margin: .75rem;
      padding: 2%;
      
  }

  #image-container {
    height: 15vw;
    width: 22vw;
    margin: auto;
  }
  
  #image-container img {
    display: block;
    width: 100%;
    height: auto;
  
    margin: 5vh auto;
  }