.campaign-card {
    height: 280px;
    width: 20%;
    border-style: solid;
    float: left;
    margin: 2.5%;
    position: relative;
    border-radius: 8px;
    
}

.campaign-card a {
    font-size: 20px;
    color: black;
}

.campaign-card-title {
    margin: 3px 5px 0px 10px
}

.campaign-card-text {
    margin: 20px 5px 0px 10px
}

.campaign-card-link {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px 3% 2%
}

.campaign-card-like {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 3%;
    margin-bottom: 3%;
}

.campaign-card-like:hover {
    cursor: pointer;
}

.campaign-card-liked {
    color: #2191FB
}

.button-container {
    width: 20%;
    height: 280px;
    float: left;
    margin: 2.5%;
    text-align: center;
}

h2 {
    font-size: 25px;
}

i {
    font-size: 30px !important;
}